
<%- include('include/_header') %>

  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/"><span class="text-gradient"><i class="fas fa-angle-double-left"></i> All Players</span></a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark2">Update Player</h2>
            <span class="text-light">Update an existing player</span>
        </div>

 <form action="/" method="POST" id="update_user" >  
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="hidden" name="id" value="<%= user._id %>">
            <input type="text" name="name" value="<%= user.name %>" placeholder="">
        </div>
        <div class="form-group">
            <label for="age" class="text-light">Age</label>
            <input type="text" name="age" value="<%= user.age%>" placeholder="">
        </div>
        <div class="form-group">
            <label for="number" class="text-light">Number</label>
            <input type="text" name="number" value="<%= user.number%>" placeholder="">
        </div>
        <div class="form-group">
            <label for="gender" class="text-light">Gender</label>
            <div class="radio inline">
                <input type="radio" id="radio-2" name="gender" value="Male" <%= user.gender == 'Male' ? 'checked' : '' %>>
                <label for="radio-2" class="radio-label">Male</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-3" name="gender" value="Female"  <%= user.gender == 'Female' ? 'checked' : '' %> >
                <label for="radio-3" class="radio-label">Female</label>
            </div>
        </div>

        <div class="form-group">
            <label for="position" class="text-light">Position</label>
            <div class="radio inline">
                <input type="radio" id="radio-4" name="position" value="Handler" <%= user.position == 'Handler' ? 'checked' : '' %> >
                <label for="radio-4" class="radio-label">Handler</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-5" name="position" value="Cutter" <%= user.position == 'Cutter' ? 'checked' : '' %> >
                <label for="radio-5" class="radio-label">Cutter</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-6" name="position" value="Hybrid" <%= user.position == 'Hybrid' ? 'checked' : '' %> >
                <label for="radio-6" class="radio-label">Hybrid</label>
            </div>
        </div>

        <div class="form-group">
            <label for="contact" class="text-light">Contact</label>
            <input type="text" name="contact" value="<%= user.contact%>" placeholder="">
        </div>
        <div class="form-group">
            <label for="status" class="text-light">Status</label>
            <input type="text" name="status" value="<%= user.status%>" placeholder="">
        </div>
        <div class="form-group">
            <label for="note" class="text-light">Note</label>
            <input type="text" name="note" value="<%= user.note%>" placeholder="">
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>
       
    </div>
</main>



<script>
        document.addEventListener('keydown', function (event) {
        if (event.key === 'Escape') {
            window.location.href = "/";
        }
    });
</script>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
